{% load i18n %}
{% load static %}
{% load currency %}
<html>
<body>
  <h1>PoliKram</h1>
  <h2>{% trans 'Код замовлення' %} - {{ order.code }}</h2>
  <span class="secondary">{{ order.created|date:"M d, Y" }}</span>
  <h3>{% trans 'Для:' %}</h3>
  <table>
    <tr>
      <th>{% trans "Прізвище ім'я по-батькові" %}</th>
      <td>{{ order.last_name }} {{ order.first_name }} {{ order.father_name }}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td>{{ order.email }}</td>
    </tr>
    <tr>
      <th>{% trans 'Телефон' %}</th>
      <td>{{ order.phone }}</td>
    </tr>
    <tr>
      <th>{% trans 'Місто' %}</th>
      <td>{{ order.city }}</td>
    </tr>
    {% if order.street %}
    <tr>
      <th>{% trans 'Доставка на адресу' %}</th>
      <td>{{ order.street }} {{ order.house }} {{ order.apartment }}</td>
    </tr>
    {% else %}
    <tr>
      <th>{% trans 'Склад Нової пошти' %}</th>
      <td>{{ order.warehouse_number }}</td>
    </tr>
    {% endif %}
  </table>

  <h3>{% trans 'Замовлені товари' %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Товар' %}</th>
        <th>{% trans 'Ціна одиниці' %}</th>
        <th>{% trans 'Кількість' %}</th>
        <th>{% trans 'Ціна загальна' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class='row{% cycle "1" "2" %}'>
          <td>{{ item.product.name }}</td>
          <td class="num">{{ item.price }}&#8372</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost|floatformat:"2" }}&#8372</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">{% trans 'Сума' %}</td>
        <td class="num">{{ order.get_total_cost|floatformat:"2" }}&#8372</td>
      </tr>
      {% if order.coupon %}
      <tr>
        <td colspan="3">{% trans 'Знижка' %}</td>
        <td class="num">- {{ order.get_discount|floatformat:"2" }}&#8372</td>
      </tr>
      <tr class="total">
        <td colspan="3">{% trans 'Разом' %}</td>
        <td class="num">{{ order.get_total_cost_after_discount|floatformat:"2" }}&#8372</td>
      </tr>
      {% endif %}
    </tbody>
  </table>


  <span class="{% if order.paid %}paid{% else %}pending{% endif %}">

    {% if order.paid %}{% trans 'Сплачено' %}{% else %}{% trans 'Очікування платежу' %}{% endif %}

  </span>

</body>

</html>