{% load i18n %}

<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
</style>

<div class="w3-center">
    {% if page.has_other_pages %}
        <ul class="pagination">

            {% if page.has_previous %}
                <a href="?{{ q }}page={{ page.previous_page_number }}">&laquo;</a>
            {% else %}
                <a><span>&laquo;</span></a>
            {% endif %}

            {% for i in page.paginator.page_range %}
                {% if page.number == i %}
                    <a class="active">{{ i }}</a>
                {% else %}
                    <a href="?{{ q }}page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <a href="?{{ q }}page={{ page.next_page_number }}">&raquo;</a>
            {% else %}
                <a><span>&raquo;</span></a>
            {% endif %}
        </ul>
    {% endif %}
</div>