{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {% trans 'Редагування Профілю' %} {% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block content %}

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="w3-container">
            <!-- row -->
            <div class="w3-row">

                <div class="w3-col m3">
                    {% include "user/user_panel.html" %}
                </div>

                <div class="w3-col m9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">{% trans 'Редагування Профілю' %}</h3>
                        </div>
                    </div>

                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">

                            {{ user_form.username|as_crispy_field }}
                            {{ user_form.email|as_crispy_field }}
                            {{ user_form.first_name|as_crispy_field }}
                            {{ user_form.last_name|as_crispy_field }}
                            {{ profile_form.father_name|as_crispy_field }}
                            {{ profile_form.phone|as_crispy_field }}
                            {{ profile_form.country|as_crispy_field }}
                            {{ profile_form.city|as_crispy_field }}
                            {{ profile_form.street|as_crispy_field }}
                            {{ profile_form.house|as_crispy_field }}
                            {{ profile_form.apartment|as_crispy_field }}
                            {{ profile_form.warehouse_number|as_crispy_field }}
                            {{ profile_form.image }}
                            {{ profile_form.language|as_crispy_field }}
                        </fieldset>
                        <div class="form-group">
                            <button class="w3-button w3-green" type="submit">{% trans 'Оновити' %}</button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock content %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ profile_form.media }}

{% endblock %}