{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block title %}{% trans 'Скидання паролю' %}{% endblock title%}

{% block content %}

<form class="modal-content animate" action="." method="post">
    <div class="w3-container">
        <div class="section-title">
            <h3 class="title">{% trans 'Скидання паролю' %}</h3>
        </div>
        <p>{% trans 'Введіть свою електронну пошту, щоби отримати інструкції для відновлення паролю' %}</p>
            {{ form.as_p }}
            {% csrf_token %}
        <button type="submit" class="button">{% trans 'Надіслати' %}</button>
        <div class="w3-container" style="background-color:#f1f1f1">
		    <button type="button" class="button cancelbtn"><a href="/">{% trans 'Відмінити' %}</a></button>
        </div>
    </div>
</form>
{% endblock content %}