{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Скидання паролю' %} {% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block content %}
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="w3-container">

            <div class="section-title">
            <h3 class="title">{% trans 'Скидання паролю' %}</h3>
            </div>
            <p>{% trans 'Ваш пароль тепер відновлено' %}.</p>

            <div class="w3-container w3-center" style="background-color:#f1f1f1">
	            <a href="/" class="w3-button w3-green">{% trans 'На головну' %}</a>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock content %}