{% extends 'index.html' %}
{% load i18n %}

{% block title %}  {% trans 'Зміна паролю' %}  {% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block content %}

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="w3-container">
             <!-- row -->
            <div class="w3-row">
                <div class="w3-col m3">
                    {% include "user/user_panel.html" %}
                </div>
                <div class="w3-col m9">
                    <div class="section-title">
                        <h3 class="title">{% trans 'Зміна паролю' %}</h3>
                    </div>

                    <p>{% trans 'Ваш пароль був успішно оновлений!' %}</p>

                    <div class="w3-container w3-center" style="background-color:#f1f1f1">
                        <a href="/" class="w3-button w3-green">{% trans 'На головну' %}</a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock content %}