{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block title %}{% trans 'Скидання паролю' %}{% endblock title%}

{% block content %}

<form class="modal-content animate"  method="POST">
   <div class="w3-container">
    <div class="section-title">
        <h3 class="title">{% trans 'Скинути пароль' %}</h3>
    </div>
       {% csrf_token %}
       {% for field in form %}
       <p>
           {{ field.label_tag }}<br>
           {{ field }}
           {% if field.help_text %}
           <small style="color: grey">{{ field.help_text }}</small>
           {% endif %}
           {% for error in field.errors %}
       <p style="color: red">{{ error }}</p>
       {% endfor %}
       </p>
       {% endfor %}
       <button type="submit" class="button">{% trans 'Зберегти зміни' %}</button>
       <div class="w3-container" style="background-color:#f1f1f1">
           <button type="button" class="button cancelbtn"><a href="/" >{% trans 'Відмінити' %}</a></button>
       </div>
   </div>
</form>

{% endblock content %}