{% extends 'index.html' %}
{% load i18n %}
{% block title %} {% trans 'Зміна паролю' %} {% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block content %}

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="w3-container">
            <!-- row -->
            <div class="w3-row">
                <div class="w3-col m3">
                    {% include "user/user_panel.html" %}
                </div>
                <div class="w3-col m9">
                    <div class="section-title">
                        <h3 class="title">{% trans 'Зміна паролю' %}</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="w3-button w3-green" type="submit">{% trans 'Зберегти зміни' %}</button>
                    </form>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock content %}