{% extends 'index.html' %}
{% load i18n %}
{% load currency %}
{% load static %}
{% block stylesheet %}{% endblock %}

{% block title %} {% trans 'Ваш кошик' %} {% endblock %}

{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block content %}
<!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="w3-container">
            <ul class="breadcrumb">
                <li><a href="/">{% trans 'Головна' %}</a></li>
                <li class="active">{% trans 'Кошик' %}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
	<!-- container -->
	<div class="w3-container">
		<div class="section-title">
			<h3 class='title'>{% trans 'Ваш кошик' %}</h3>
		</div>
		<table class='w3-table w3-bordered'>
		<tr>
			<td class='w3-center'><strong>{% trans 'Зображення' %}</strong></td>
			<td class='w3-center'><strong>{% trans 'Товар' %}</strong></td>
			<td class='w3-center'><strong>{% trans 'Кількість' %}</strong></td>
			<td class='w3-center'><strong>{% trans 'Ціна одиниці' %}</strong></td>
			<td class='w3-center'><strong>{% trans 'Ціна загальна' %}</strong></td>
			<td class='w3-center'><strong>{% trans 'Видалити' %}</strong></td>
		</tr>
		{% for item in cart_item %}
		<tr>
			<td>
				<a href="{{ item.product.get_absolute_url }}">
					{% if item.variant.image_id  > 0 %}
					<img src="{% if item.variant.image %}
						{{ item.variant.image }}
					{% else %}
						{% static 'img/no_image.png' %}
					{% endif %}" alt="" style="height: 80px">
					{% else %}
    	            <img src="{% if item.product.image %}
    	            	{{ item.product.image.url }}
    	            {% else %}
    	            	{% static 'img/no_image.png' %}
    	            {% endif %}" alt="" style="height: 80px">
					{% endif %}
    	        </a>
			</td>
			<td class='text-left' style="vertical-align: middle;">
				{% if not item.variant %}
					<a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
				{% else %}
					<a href="{{ item.product.get_absolute_url }}">{{ item.variant.title }}</a>
				{% endif %}
			</td>

				<td class="w3-center" style="vertical-align: middle;">
				{% if not item.variant %}
					<form action="{% url 'remove_item_from_cart' item.product.id %}" method="post">
						{% csrf_token %}
						<button class="btn" type="submit"><i class="fa fa-minus"></i></button>
					</form>
					<form action="{% url 'add_item_to_cart' item.product.id %}" method="post">
						 {% csrf_token %}
						<input class="input" style="width:40px" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}">
						<button class="btn" type="submit" {% if item.product.stock < 1  %} disabled {% endif %} ><i class="fa fa-plus"></i></button>
					</form>
				{% else %}
					<form action="{% url 'remove_item_from_cart' item.product.id %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="variantid" id="variantid" value="{{ item.variant.id }}">
						<button class="btn" type="submit"><i class="fa fa-minus"></i></button>
					</form>
					<form action="{% url 'add_item_to_cart' item.product.id %}" method="post">
						 {% csrf_token %}
						<input type="hidden" name="variantid" id="variantid" value="{{ item.variant.id }}">
						<input class="input" style="width:40px" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.variant.quantity }}">
						<button class="btn" type="submit" {% if item.variant.quantity < 1  %} disabled {% endif %} ><i class="fa fa-plus"></i></button>
					</form>
				{% endif %}
				</td>
			<td class='w3-center' style="vertical-align: middle;">
				{{ item.price|currency:request.session.currency }} {{ request.session.currency }}
			</td>
			<td class='w3-center' style="vertical-align: middle;">
				{{ item.total_price|currency:request.session.currency }} {{ request.session.currency }}
			</td>
			<td class='w3-center' style="vertical-align: middle;">
				<a href='{% url "remove_from_cart" item.id  %}' onclick="return confirm('Delete ! Are you sure?')" class='primary-btn w3-red'><i class="fa fa-close"></i></a>
			</td>
		</tr>
		{% endfor %}
		</table>
		<br>
		<!-- row -->
		<div class="w3-row">
			<div class="w3-col m6">
				<div class="section-title">
					<h5 class="title">{% trans 'Застосувати промо код:' %}</h5>
				</div>
				<form action='{% url "add-coupon" %}' method="post">
					{% csrf_token %}
					<div class="w3-row">
						<div class="w3-col m6">
						{{ coupon_form }}
						</div>
						<button class="w3-button w3-black " type="submit">{% trans 'Застосувати' %}</button>
					</div>
				</form>
			</div>
			<div class="w3-col m6">
				<div class="section-title">
					<h5 class='title'>{% trans 'До оплати' %}</h5>
				</div>
				<table class="w3-table w3-bordered">

    			    <tr>
						<td>{% trans 'Проміжна сума' %}</td>
						<td colspan="4"></td>
						<td>{{ cart.get_total|currency:request.session.currency }} {{ request.session.currency }}</td>
    			    </tr>
					{% if cart.coupon %}
    			    <tr>
						<td>{% trans 'Знижка' %} {{ cart.coupon.code }}</td>
    			      	<td colspan="4"></td>
    			      	<td>- {{ cart.get_discount|currency:request.session.currency }} {{ request.session.currency }}</td>
    			    </tr>
					<tr>
						<td><strong>{% trans 'Разом:' %}</strong></td>
						<td colspan="4"></td>
						<td><strong>{{ cart.get_total_after_discount|currency:request.session.currency }} {{ request.session.currency }}</strong></td>
					</tr>
					{% endif %}

				</table>
			</div>
		</div>
        <!-- /row -->
		<br>
			<a href='{% url "order_checkout" %}' class='w3-button w3-green pull-right'>{% trans 'Замовити' %}</a>
			<a href='/' class='w3-button w3-black pull-right'>{% trans 'Продовжити покупки' %}</a>
	</div>
	<!-- /container -->
</div>
<!-- /section -->



{% endblock content %}